<!-- <script src="intl_to_cn.js"></script> -->

<h1>Example: Modify country data</h1>

<input id="phone" type="tel">

<script type="text/javascript">
$(document).ready(function() {
  $.getJSON('/zh-tw.json', function(data) {
    var countryData = $.fn.intlTelInput.getCountryData();
    $.each(countryData, function(i, country) {
      var idx_left = country.name.lastIndexOf('(');
      var local_name = country.name + ')';
      if (idx_left > 0) {
        local_name = country.name.substr(idx_left + 1);
      }
      country.name = data[i][0] + '(' + local_name;
    });
    $("#phone").intlTelInput();
  });
});
</script>
