<!-- <script src="intl_to_cn.js"></script> -->

<h1>Example: Modify country data</h1>

<input id="phone" type="tel">

<script type="text/javascript">
$(document).ready(function() {
  $.getJSON('/cn.json', function(data) {
    var countryData = $.fn.intlTelInput.getCountryData();
    $.each(countryData, function(i, country) {
      var local_name = country.name.replace(/.+\((.+)\)/,"$1");
      country.name = data[i][0] + '(' + local_name + ')';
    });
    $("#phone").intlTelInput();
  });
});
</script>
